.seats-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: red;
    
    > .bus-seats {
        width: 65%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;

        > .double-seats {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            > .seats {
                display: flex;
                gap: 1rem;
    
                > div {
                    padding: 1.5rem 2.5rem;
                    width: 1rem;
                    border: 1px solid white;
                    border-radius: 2px;
                    background-color: white;
                    cursor: pointer;
                }
            }
        }

        > .single-seats {
            display: flex;
            justify-content: space-around;
            gap: 1rem;

            > div {
                padding: 1.5rem 2.5rem;
                width: 1rem;
                border: 1px solid white;
                border-radius: 2px;
                background-color: white;
                cursor: pointer;
            }
        }
    }

    > h1 {
        font-size: 2.5rem;
        line-height: 1rem;
        color: white;
        font-weight: 700;
        margin-top: 3rem;

        > svg {
            margin-right: 1rem;
        }
    }

    > button {
        text-transform: uppercase;
        font-size: 1.9rem;
        font-weight: bold;
        letter-spacing: .8px;
        color: white;
        background-color: rgb(15, 189, 15);
        border: 2px solid rgb(15, 189, 15);
        padding: 1rem 2rem;
        cursor: pointer;
        margin-top: 2rem;
    }
}