nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
    padding: 1rem 5rem;

    > .logo {
        color: white;
        font-size: 2.5rem;
        cursor: pointer;
        width: 20rem;
        text-align: center;
    }
}